/* Normal desktop :1400px. */
@media (min-width: 1400px) and (max-width: 1600px) {
    
    .header_menu {
        text-align: left;
    }

    .section-shape-1 {
        left: -188px;
    }

    .single-contact-shape {
        left: 6%;
    }

    /*portfolio-section-2*/
    .port-shape-thumb2 {
        right: 71px;
    }

    /*portfolio-details*/
    .csd-content p {
        font-size: ;
        text-align: justify;
    }
    
    /*blog-details*/
    .blog-content-text p {
        text-align: justify;
    }



}

/* Normal desktop :1300px. */
@media (min-width: 1300px) and (max-width: 1399px) {

    .header_menu {
        text-align: left;
    }

    .section-shape-1 {
        left: -270px;
    }

    .single-contact-shape {
        left: 3%;
    }


    /*inner-pages-responsive-css*/

    /*service-area-tow*/
    .service-area-tow {
        background-position: center;
    }

    /*portfolio-section-2*/
    .port-shape-thumb2 {
        right: 31px;
    }

    .case-study-title h3 a {
        font-size: 19px;
        line-height: 30px;
    }

    /*portfolio-details*/
    .csd-content p {
        font-size: ;
        text-align: justify;
    }


    /*blog-details*/
    .blog-content-text p {
        text-align: justify;
    }






}


/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1299px) {
    .header_logo {
        text-align: right;
    }
       
    .header_menu {
        text-align: left;
    }

    .header_menu ul > li {
        margin-right: 24px;
    }

    .section-shape-1 {
        left: -26%;
    }

    .single-contact-shape {
        left: 0%;
    }

    .single-contact-shape-2 {
        display: none;
    }

    /*inner-pages-responsive-css*/
    .service-area-tow {
        background-position: center;
    }

   /*portfolio-section-2*/
    .port-shape-thumb2 {
        right: 19px;
    }

    .case-study-title h3 a {
        font-size: 18px;
        line-height: 26px;
    }


    /*portfolio-details*/
    .csd-content p {
        text-align: justify;
    }

    /*blog-details*/
    .blog-content-text p {
        text-align: justify;
    }





}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

    .header_menu ul > li {
        margin-right: 30px;
    }

    .hero-shape-1 {
        display: none;
    }

    .hero-shape-2 {
        display: none;
    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 44px;
    }

    .hero-thumb {
        left: 0px;
    }

    p.hero-desc {
        width: 90%;
    }

    .single-feature-box {
        padding: 41px 17px 37px;
    }

    .single-feature-box p {
        font-size: 14px;
    }

    .section-shape-1 {
        display: none;
    }

    .about-thumb {
        margin-left: -163px;
    }

    .about-shape-2 {
        display: none;
    }

    .section-title h1 {
        font-size: 30px;
        line-height: 34px;
    }

    .single-about-content p {
        width: 90%;
    }

    .service-content p {
        width: 75%;
    }

    .skill1 .skill-count1 {
        right: -89px;
    }

    .skill2 .skill-count2 {
        right: -115px;
    }

    span.skill-count3 {
        right: -148px;
    }

    .single-contact-shape {
        left: 0;
    }

    .accordion li a {
        font-size: 15px;
    }

    .accordion li a.active::before {
        height: 205px;
    }

    .single-blog-content a {
        font-size: 16px;
        line-height: 25px;
    }

    .blog-author span {
        padding-left: 0;
    }

    .footer-widget-desc p {
        width: 90%;
    }



    /*--inner-pages-responsive--*/

    .abouts_thumb-tow img {
        width: 100%;
    }

    /*service-section-tow*/
    .service-area-tow {
        background-position: center;
    }

    .service-box-tow {
        padding: 0px 20px 30px;
    }

    .em-service-title h2 {
        font-size: 16px;
    }

     /*about-section-three*/
    .about-thumb-three img {
        width: 100%;
    }

    .about-thumb-three {
        left: -31px;
    }

    .about-shape {
        right: 12px;
    }

    .extra-progress {
        padding: 0 0 0 26px;
    }

    /*call-do-action-section-tow*/
    .call-do-action-content-tow p {
        width: 50%;
    }

    /*testi-tow*/
    .testimonial-content-tow {
        padding: 18px 12px 24px;
    }

    .testimonial-content-tow::before {
        left: 0;
    }

    /*service-details*/
    .serivce-details-desc p {
        text-align: justify;
    }

    .service-details-icon {
        float: inherit;
    }

    .service-details-title h4 {
        font-size: 17px;
    }

    .service-details-thumb img {
        width: 100%;
    }

    .service-details-icon-box {
        margin-left: 0;
    }

    .widget-service-details-icon p {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .service-work-process-box {
        padding: 40px 10px 20px;
    }

    .service-work-process-title h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .widget-categories-menu ul li a {
        font-size: 13px;
    }

    .widget-title2 h3 {
        font-size: 28px;
        line-height: 30px;
    }

    /*portfolio-section-2*/
    .case-study-title h6 {
        font-size: 15px;
    }

    .case-study-title h3 a {
        font-size: 16px;
        line-height: 24px;
    }

    .port-shape-thumb2 {
        right: 0;
    }

    /*portfolio-details*/
    .case-study-intro {
        padding: 26px;
    }

    .csd-info {
        padding: 0 26px;
    }

    .csd-content p {
        text-align: justify;
    }

    /*blog-details*/
    .blog-content-text p {
        text-align: justify;
    }

    .blog-section .blog-content-text h5 {
        font-size: 28px;
    }





}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    
    .header_menu_area {
        display: none;
    }

    .sticky {
        position: absolute !important;
    }

    .hero-area {
        height: 750px;
        margin-top: 0;
        padding-top: 90px;
    }

    .hero-thumb {
        display: none;
    }

    .hero-shape-1 {
        left: -34px;
        top: 62px;
    }

    .hero-shape-2 {
        right: 0;
        top: -4px;
    }

    .feature-area {
        padding: 0 0 0;
    }

    .single-feature-box {
        padding: 41px 17px 37px;
        margin-bottom: 26px;
    }
    .about-area {
        padding: 93px 0 118px;
    }

    .section-shape-1 {;
        display: none;
    }

    .about-thumb {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .about-shape-2 {
        display: none;
    }

    .single-about-content p {
        width: 60%;
    }

    .counter-area .row.add-bg {
        padding: 60px 0 5px;
    }

    .single-counter-box {
        margin-bottom: 60px;
    }

    .single-service-box {
        padding: 18px 17px 15px;
    }

    p.section-desc-1 {
        width: 70%;
    }

    .portfolio-area .itpro-button {
        margin-top: 0;
        text-align: left !important;
        margin-bottom: 50px;
    }
    .skill-area {
        padding: 100px 0 90px;
    }
    .skill-thumb {
        display: none;
    }

    .single-contact-shape-2 {
        display: none;
    }

    .section-shape-2 {
        display: none;
    }

    .contact-area {
        padding: 0px 0 50px;
    }

    .single-contact-box {
        margin-bottom: 26px;
    }

    .col-lg-6.col-md-12.faq-pd {
        padding: 0 0 0 14px;
    }

    .accordion li a.active::before {
        height: 154px;
    }

    .accordion li p {
        font-size: 15px;
    }

    .blog-area {
        padding: 27px 0 89px;
    }

    .single-blog-box {
        margin-bottom: 30px;
    }

    .single-blog-content a {
        font-size: 18px;
        line-height: 28px;
    }

    .footer-bottom-area {
        margin-top: 90px;
    }

    .footer-widget-content {
        margin-bottom: 20px;
    }




    /*---inner-pages-responsive-css---*/

    /*britcam-section*/
    .britcam-shape {
        width: 44%;
    }

    /*about-area-tow*/
    .abouts_thumb-tow img {
        width: 100%;
    }

    .abouts_titles h3 {
        font-size: 20px;
        padding: 30px 85px 30px 9px;
    }

    /*faqs-section*/
    .faq-area .section-title {
        margin-bottom: 17px;
    }

    .tab_container {
        padding-left: 0;
        margin-top: 26px;
    }

    /*service-area-tow*/
    .service-area-tow {
        background-position: center;
    }

    .service-area-tow .section-title {
        margin-bottom: 36px;
    }

    .service-area-tow .itpro-button {
        text-align: left;
        margin-bottom: 52px;
    }

    .service-box-tow {
        margin-top: 36px;
    }

    /*about-area-three*/
    .about-thumb-three {
        left: 0;
    }

    .about-shape {
        right: 126px;
    }

    .call-do-action-content-tow p {
        width: 56%;
    }

    /*service-details-area*/
    .serivce-details-desc p {
        text-align: justify;
    }

    .service-details-icon-box {
        margin-left: -28px;
    }

    .widget-service-details-icon p {
        margin-bottom: 14px;
        font-size: 15px;
    }

    /*contact-section*/
    .cda-content-inner h4 {
        font-size: 18px;
    }

    /*portfolio-section-2*/
    .case-study-title h3 a {
        font-size: 18px;
        line-height: 26px;
    }

    .port-shape-thumb2 {
        right: 0;
    }

    /*portfolio-details*/
    .case-study-intro {
        padding: 26px;
    }

    .csd-info {
        padding: 0 0;
    }

    .csd-content p {
        text-align: justify;
    }

    /*blog-details*/
    .blog-content-text p {
        text-align: justify;
    }

    .blog-section .blog-content-text h5 {
        font-size: 28px;
    }






}

/* Large Mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .header_menu_area {
        display: none;
    }

    .sticky {
        position: absolute !important;
    }

    .hero-area {
        height: 673px;
        margin-top: 0;
        padding-top: 80px;
    }

    .hero-thumb {
        display: none;
    }

    .hero-shape-1 {
        display: none;
    }

    .hero-shape-2 {
        display: none;
    }

    .hero-content h1 {
        font-size: 45px;
        line-height: 48px;
    }

    p.hero-desc {
     width: 95%;
   }

    .hero-shape-4 {
        left: 56%;
    }

    .feature-area {
        padding: 0 0 0;
    }

    .single-feature-box {
        padding: 41px 44px 37px;
        margin-bottom: 26px;
    }

    .about-area {
        padding: 93px 0 118px;
    }

    .section-shape-1 {;
        display: none;
    }

    .about-thumb {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .about-thumb img {
      width: 100%;
    }

    .about-shape-1 {
      bottom: 84px;
    }

    .about-shape-2 {
        display: none;
    }

    .single-about-content p {
        width: 75%;
    }

    p.section-desc-1 {
        width: 85%;
    }

    .section-title h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .counter-area .row.add-bg {
        padding: 60px 0 5px;
    }

    .single-counter-box {
        margin-bottom: 60px;
    }

    .single-service-box {
        padding: 18px 17px 15px;
    }

    .portfolio-area .itpro-button {
        margin-top: 0;
        text-align: left !important;
        margin-bottom: 50px;
    }
    .skill-area {
        padding: 100px 0 90px;
    }
    .skill-thumb {
        display: none;
    }

    .skill1 .skill-count1 {
        right: -98px;
    }

    .skill2 .skill-count2 {
        right: -130px;
    }

    span.skill-count3 {
      right: -169px;
    }

    .single-contact-shape-2 {
        display: none;
    }

    .section-shape-2 {
        display: none;
    }

    .contact-area {
        padding: 0px 0 50px;
    }

    .single-contact-box {
        margin-bottom: 26px;
    }

    .col-lg-6.col-md-12.faq-pd {
        padding: 0 0 0 14px;
    }

    .accordion li a.active::before {
        height: 180px;
    }

    .accordion li p {
        font-size: 15px;
    }

    .blog-area {
        padding: 27px 0 89px;
    }

    .single-blog-box {
        margin-bottom: 30px;
    }

    .single-blog-content a {
        font-size: 16px;
        line-height: 28px;
    }

    .footer-widget-desc p {
       width: 74%;
    }

    .footer-bottom-area {
        margin-top: 90px;
    }

    .footer-widget-content {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .footer-bottom-menu {
        text-align: left;
        margin-top: -20px;
    }


    /*---inner-pages-responsive-css---*/

    /*britcam-section*/
    .breadcumb-area {
        height: 400px;
        text-align: center;
        margin-top: 60px;
    }

    .britcam-shape {
        width: 55%;
    }

    /*about-section-tow*/
    .abouts_tow {
        padding: 123px 0 87px;
    }

    .abouts_thumb-tow {
        margin-bottom: 65px;
    }

    .abouts_thumb-tow img {
        width: 100%;
    }

    .abouts_titles h3 {
        font-size: 22px;
        padding: 30px 80px 30px 19px;
    }


    /*faqs-section*/
    .faq-area .section-title {
        margin-bottom: 18px;
    }

    /*service-area-tow*/
    .service-area-tow {
        background-position: center;
    }

    .service-area-tow .section-title {
        margin-bottom: 17px;
    }

    .service-box-tow {
        margin-top: 40px;
    }

    .service-area-tow .itpro-button a {
        margin-bottom: 40px;
    }

    /*about-area-three*/
    .about-thumb-three {
        left: 0;
    }

    .about-thumb-three img {
        width: 100%;
    }

    .call-do-action-content-tow h4 {
        font-size: 26px;
        line-height: 28px;
    }

    .call-do-action-content-tow p {
        width: 70%;
    }

    .call-do-action-area-tow .itpro-button {
        text-align: center;
    }

    /*service-details-area*/
    .serivce-details-desc {
        text-align: justify;
    }

    .service-details-icon {
        float: inherit;
    }

    .service-details-thumb {
        margin-bottom: 28px;
    }

    .service-work-process-box {
        padding: 40px 16px 20px;
    }
    /*portfolio-section-2*/
    .case-study-thumb2 img {
        width: 100%;
    }

    .case-study-title h3 a {
        font-size: 18px;
        line-height: 26px;
    }
    .port-shape-thumb2 {
        display: none;
    }
    /*portfolio-details*/
    .case-study-intro {
        padding: 45px;
    }

    .csd-info {
        padding: 0 0;
    }

    .csd-content p {
        text-align: justify;
    }

    /*blog-details*/
    .blog-content-text p {
        text-align: justify;
    }

    .blog-section .blog-content-text h5 {
        font-size: 24px;
    }




 }

/* small mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {
     .header_menu_area {
        display: none;
    }

    .sticky {
        position: absolute !important;
    }

    .hero-area {
        height: 673px;
        margin-top: 0;
        padding-top: 80px;
    }

    .hero-thumb {
        display: none;
    }

    .hero-shape-1 {
        display: none;
    }

    .hero-shape-2 {
        display: none;
    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 45px;
    }

    p.hero-desc {
     width: 90%;
   }

    .hero-shape-4 {
        left: 56%;
    }

    .feature-area {
        padding: 0 0 0;
    }

    .single-feature-box {
        padding: 41px 44px 37px;
        margin-bottom: 26px;
    }

    .about-area {
        padding: 93px 0 118px;
    }

    .section-shape-1 {;
        display: none;
    }

    .about-thumb {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .about-thumb img {
      width: 100%;
    }

    .about-shape-1 {
      bottom: 84px;
    }

    .about-shape-2 {
        display: none;
    }

    .single-about-content p {
        width: 85%;
    }

    p.section-desc-1 {
        width: 91%;
    }

    .section-title h1 {
        font-size: 26px;
        line-height: 26px;
    }

    .counter-area .row.add-bg {
        padding: 60px 0 5px;
    }

    .single-counter-box {
        margin-bottom: 60px;
    }

    .single-service-box {
        padding: 18px 17px 15px;
    }

    .service-content p {
       width: 80%;
    }

    .portfolio-area .itpro-button {
        margin-top: 0;
        text-align: left !important;
        margin-bottom: 50px;
    }

    .skill-area {
        padding: 100px 0 90px;
    }

    .skill-thumb {
        display: none;
    }

    .skill1 .skill-count1 {
        right: -85px;
    }

    .skill2 .skill-count2 {
        right: -114px;
    }

    span.skill-count3 {
        right: -150px;
    }

    .single-contact-shape-2 {
        display: none;
    }

    .section-shape-2 {
        display: none;
    }

    .contact-area {
        padding: 0px 0 50px;
    }

    .single-contact-box {
        margin-bottom: 26px;
    }

    .col-lg-6.col-md-12.faq-pd {
        padding: 0 20px 0 10px;
    }

    .accordion li a {
        font-size: 15px;

    }

    .accordion li a.active::before {
        height: 180px;
    }

    .accordion li p {
        font-size: 15px;
    }

    .blog-area {
        padding: 27px 0 89px;
    }

    .single-blog-box {
        margin-bottom: 30px;
    }

    .single-blog-content a {
        font-size: 14px;
        line-height: 28px;
    }

    .footer-widget-desc p {
       width: 74%;
    }

    .footer-bottom-area {
        margin-top: 90px;
    }

    .footer-widget-content {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .footer-bottom-menu {
        text-align: left;
        margin-top: -20px;
    }


    /*--inner-pages-responsive-css--*/

    /*britcam-section*/
    .breadcumb-area {
        text-align: center;
        margin-top: 45px;
    }

    .britcam-shape {
        display: none;
    }

    /*about-section-tow*/
    .abouts_tow {
        padding: 123px 0 84px;
    }

    .abouts_thumb-tow {
        margin-bottom: 60px;
    }

    .abouts_thumb-tow img {
        width: 100%;
    }

    /*faqs-section*/
    .faq-area .section-title {
        margin-bottom: 16px;
    }

    /*services-area-tow*/
    .service-area-tow {
        background-position: center;
    }

    .service-area-tow .itpro-button {
        margin-bottom: 24px;
    }

    .service-area-tow .section-title {
        margin-bottom: 22px;
    }

    .service-box-tow {
        margin-top: 40px;
    }

    /*about-section-three*/
    .about-thumb-three {
        left: 0;
    }

    .about-thumb-three img {
        width: 100%;
    }
    .extra-progress {
        padding: 0 0 0 20px;
    }

    /*call-do-action-section-tow*/

    .call-do-action-content-tow h4 {
        font-size: 22px;
        line-height: 22px;
    }

    .call-do-action-content-tow p {
        width: 85%;
    }

    .call-do-action-area-tow .itpro-button {
        text-align: center;
    }

    /*service-details-section*/
    .service-page-title h1 {
        font-size: 28px;
    }

    .serivce-details-desc p {
        text-align: justify;
    }

    .service-page-title2 h1 {
        font-size: 22px;
        padding: 10px 0 10px;
    }

    .service-details-thumb {
        margin-bottom: 20px;
    }

    /*404*/
    .error-thumb img {
        width: 100%;
    }
    .error-content h2 {
        font-size: 28px;
    }

    /*portfolio-section-2*/
    .case-study-thumb2 img {
        width: 100%;
    }
    .case-study-title h3 a {
        font-size: 18px;
        line-height: 26px;
    }
    .port-shape-thumb2 {
        display: none;
    }
    .portfolio_nav ul li {
        font-size: 14px;
        padding: 5px 22px;
    }
    /*portfolio-details*/
    .case-study-intro {
        padding: 29px;
    }
    .csd-info {
        padding: 0 0;
    }
    .csd-content p {
        text-align: justify;
    }
    /*portfolio-details*/
    .case-study-intro {
        padding: 45px;
    }
    .csd-info {
        padding: 0 0;
    }
    .csd-content p {
        text-align: justify;
    }
    /*blog-details*/
    .blog-content {
        padding: 15px 18px 20px;
    }
    .blog-content-text p {
        text-align: justify;
    }

    .blog-section .blog-content-text h5 {
        font-size: 20px;
    }




}

/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 479px) {
         .header_menu_area {
        display: none;
    }

    .sticky {
        position: absolute !important;
    }

    .hero-area {
        height: 673px;
        margin-top: 0;
        padding-top: 80px;
    }

    .hero-thumb {
        display: none;
    }

    .hero-shape-1 {
        display: none;
    }

    .hero-shape-2 {
        display: none;
    }

    .hero-content h1 {
        font-size: 26px;
        line-height: 30px;
    }

    p.hero-desc {
        width: 100%;
        font-size: 15px;
    }

    .hero-shape-4 {
        left: 56%;
    }

    .feature-area {
        padding: 0 0 0;
    }

    .single-feature-box {
        padding: 41px 22px 37px;
        margin-bottom: 26px;
    }

    .feature-box-content p {
        font-size: 13px;
        line-height: 22px;
    }

    .about-area {
        padding: 93px 0 118px;
    }

    .section-shape-1 {;
        display: none;
    }

    .about-thumb {
        display: none;
    }

    .about-shape-1 {
      display: none;
    }

    .about-shape-2 {
        display: none;
    }

    .single-about-content p {
        width: 90%;
        font-size: 13px;
    }

    .single-about-content h4 {
      font-size: 16px;
    }

    p.section-desc-1 {
        width: 100%;
        font-size: 15px;
    }

    .section-title h1 {
        font-size: 18px;
        line-height: 18px;
    }

    .counter-area .row.add-bg {
        padding: 60px 0 5px;
    }

    .single-counter-box {
        margin-bottom: 60px;
    }

    .single-service-box {
        padding: 18px 17px 15px;
    }

    .service-content p {
        width: 75%;
        font-size: 13px;
        line-height: 24px;
    }

    .portfolio-area .itpro-button {
        margin-top: 0;
        text-align: left !important;
        margin-bottom: 50px;
    }

    .skill-area {
        padding: 100px 0 90px;
    }

    .skill-thumb {
        display: none;
    }

    .skill1 .skill-count1 {
        right: -56px;
    }

    .skill2 .skill-count2 {
        right: -74px;
    }

    span.skill-count3 {
        right: -95px;
    }

    .single-contact-shape-2 {
        display: none;
    }

    .section-shape-2 {
        display: none;
    }

    .contact-area {
        padding: 0px 0 50px;
    }

    .contact-content h4 {
      font-size: 30px;
    }

    .single-contact-box {
        margin-bottom: 26px;
        padding: 53px 16px 69px;
    }

    .col-lg-6.col-md-12.faq-pd {
        padding: 0 20px 0 10px;
    }
    
    .tab_content {
        padding-left: 16px;
    }
    .accordion li {
        padding: 2px 12px 15px 10px;
    }


    .accordion li a i {
      top: -20px;
    }

    .accordion li a.active::before {
        background: none;
    }

    .accordion li p {
        font-size: 15px;
    }

    .accordion li a {
        font-weight: 400;
        font-size: 14px;
        padding: 14px 16px 14px 0;
    }

    .blog-area {
        padding: 27px 0 89px;
    }

    .single-blog-box {
        margin-bottom: 30px;
    }

    .single-blog-content a {
        font-size: 15px;
        line-height: 24px;
    }

    .footer-widget-desc p {
        width: 100%;
        font-size: 13px;
    }

    .footer-bottom-area {
        margin-top: 90px;
    }

    .footer-widget-content {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .footer-bottom-content-copy p {
        font-size: 12px;
        line-height: 21px;
    }

    .footer-bottom-menu ul li a {
     font-size: 13px;
    }

    .footer-bottom-menu {
        text-align: left;
        margin-top: -20px;
    }



    /*--inner-pages-responsive-css--*/

    /*breadcumb-section*/
    .breadcumb-area {
        text-align: center;
        margin-top: 55px;
    }

    .breadcumb-content h1 {
        font-size: 30px;
    }

    .britcam-shape {
        display: none;
    }

    /*about-section-tow*/
    .abouts_tow {
        padding: 123px 0 99px;
    }

    .abouts_thumb-tow {
        margin-bottom: 60px;
    }

    .abouts_thumb-tow img {
        width: 100%;
    }

    .abouts_titles h3 {
        padding: 30px 96px 30px 30px;
        font-size: 16px;
    }

    .abouts_icons i {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 16px;
    }

    /*counter-section*/
    .counter-single-item-inner.d-flex {
        display: inherit !important;
        text-align: center;
        margin-bottom: 25px;
    }

    .counter-single-item-inner.d-flex {
        text-align: center;
    }

    .counter-section .counter-text span {
        font-size: 50px;
    }

    .counter-section .counter-title {
        float: inherit;
        top: 10px;
        left: 0;
        padding: 0 0 15px;
    }

    /*service-section-tow*/
    .service-area-tow {
        background-position: center;
    }

    .service-area-tow .section-title {
        margin-bottom: 10px;
    }

    .service-box-tow {
        margin-top: 38px;
    }

    .service-area-tow .itpro-button {
        margin-bottom: 35px;
        text-align: left;
    }

    /*about-section-three*/
    .about-thumb-three {
        left: 0;
    }

    .about-thumb-three img {
        width: 100%;
    }

    .about-list-item-three ul li {
        margin-bottom: 8px;
        font-size: 12px;
    }

    .extra-progress {
        display: inherit;
        padding: 20px 0 0 0;
    }

    /*call-do-action-area-tow*/
    .call-do-action-content-tow h4 {
        font-size: 15px;
        line-height: 15px;
    }

    .call-do-action-content-tow p {
        width: 100%;
    }

    .call-do-action-area-tow .itpro-button {
        text-align: center;
    }

    /*testimonial-area-tow*/
    .testimonial-content-tow {
        padding: 18px 22px 24px;
    }

    .quote-title h4 {
        font-size: 18px;
    }

    /*service-details-area*/
    .service-page-title h1 {
        font-size: 20px;
        padding: 20px 0 10px;
    }

    .serivce-details-desc p {
        text-align: justify;
    }

    .service-details-icon {
        float: inherit;
    }

    .service-page-title2 h1 {
        font-size: 22px;
        padding: 16px 0 12px;
    }

    .service-details-icon-box {
        margin-left: 0;
    }

    .widget-service-details-icon span {
        font-size: 14px;
    }

    .widget-categories-box {
        padding: 42px 34px 25px;
    }

    .widget-categories-menu ul li a {
        font-size: 14px;
    }

    .widget-title2 h3 {
        font-size: 26px;
        line-height: 26px;
    }

    /*404*/
    .error-thumb img {
        width: 100%;
    }
    .error-content h2 {
        font-size: 18px;
    }

    .error-content p {
        font-size: 15px;
    }

    .error-search input {
        width: 80%;
    }

    /*contact-section*/
    .cda-single-content {
        margin: 0 22px;
    }

    .cda-content-inner h4 {
        font-size: 18px;
    }

    /*portfolio-section-2*/
    .case-study-thumb2 img {
        width: 100%;
    }

    .case-study-title h3 a {
        font-size: 18px;
        line-height: 26px;
    }

    .port-shape-thumb2 {
        display: none;
    }

    .portfolio_nav ul li {
        font-size: 13px;
        padding: 4px 18px;
    }

    /*portfolio-details*/
    .case-study-intro {
        padding: 18px;
    }

    .csd-info {
        padding: 0 0;
    }

    .csd-title h3 {
        font-size: 20px;
    }

    .csd-info strong {
        width: 85px;
        font-size: 14px;
        margin-right: 5px;
    }

    .csd-content p {
        text-align: justify;
    }

    .csd-social-icon li i {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

    .csd-title h2 {
        font-size: 22px;
    }

    /*portfolio-details*/

    .case-study-intro {
        padding: 15px;
    }

    .csd-info {
        padding: 0 0;
    }

    .csd-content p {
        text-align: justify;
    }

    /*blog-details*/

    .blog-content {
        padding: 15px 18px 20px;
    }

    .blog-content-text p {
        text-align: justify;
    }

    .blog-section .blog-content-text h5 {
        font-size: 16px;
    }

    .blog-section .blog-content h4 {
        font-size: 16px;
    }

    .widget-items.responsive-320 {
        padding: 30px 0;
    }

    .tag-item .all-days ul li, .tag-item .all-date ul li {
        width: 41px;
    }
    /*faqs*/
    .faqs-icon-list ul li {
       font-size: 12px;
    }
    
    .tab_container.new-style {
        padding: 0 0 0;
    }



}




/*xl device min width*/
@media screen and (min-width:992px) {
    .pl-lg-50 {
        padding-left: 50px;
    }
}

/*xl device min width*/
@media screen and (min-width:1200px) {
    .video-icon {
        left: 75%;
    }
}